<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Añadir Pedido</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Añadir Nuevo Pedido</h2>

    <!-- Formulario de Thymeleaf -->
    <form th:action="@{/addPedidos/{username}(username=${username})}" th:object="${pedido}" method="post">
        <!-- Campo de cliente -->
        <div class="mb-3">
            <label for="cliente" class="form-label">Nombre del Cliente</label>
            <input type="text" id="cliente" class="form-control" th:value="${username}" required disabled>
        </div>

        <div class="mb-3">
            <label for="pizzas" class="form-label">Pizzas</label>
            <select id="pizzas" class="form-select" th:field="*{pizzas}" multiple>
                <option value="" disabled>Seleccione una o más pizzas</option>
                <option th:each="pizza : ${pizzas}"
                        th:value="${pizza._id}"
                        th:text="${pizza.nombre}"
                        th:attr="data-precio=${pizza.precio}">
                </option>

            </select>
        </div>

        <!-- Campo de total -->
        <div class="mb-3">
            <label for="total" class="form-label">Total</label>
            <input type="number" id="total" class="form-control" th:field="*{total}" required>
        </div>

        <!-- Botón de submit -->

        <div class="mb-3">
            <button id="boton" type="submit" class="btn btn-primary">Añadir Pedido</button>
        </div>
    </form>
</div>

<script>
    const correo =  JSON.parse(atob(localStorage.getItem("jwtToken").split(".")[1])).sub;
    const pizzasSelect = document.getElementById('pizzas');
    function calcularTotal() {
        debugger;
        let total = 0;
        let pizzasSeleccionadas = document.getElementById('pizzas').selectedOptions;
        for (let pizza of pizzasSeleccionadas) {
            total += parseFloat(pizza.getAttribute('data-precio')) || 0;
        }
        document.getElementById('total').value = total;
    }
    pizzasSelect.addEventListener("change", calcularTotal);
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
